/* General styles for both PvP and AI modes */
.pongGame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Consistent button styles */
button, input[type="text"], input[type="color"] {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

button {
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

input[type="color"] {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
}

button:focus, input:focus {
    outline: 2px solid #000;
    outline-offset: 4px;
}

/* Popup and overlay styles */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: none;
    z-index: 20;
}

/* Game container and controls */
#gameContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    position: relative;
    top: 20px;
}

.ball-speed-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

.ball-speed-control label {
    margin-bottom: 5px;
}

.ball-speed-control div {
    display: flex;
    align-items: center;
}

.ball-speed-control input[type="range"] {
    margin: 0 10px;
    width: 150px;
}

.give-up-button {
    cursor: pointer;
    padding: 10px 20px;
    display: none; /* Initially hidden */
}

/* Responsive design */
@media (max-width: 768px) {
    .controls-container {
        flex-direction: column;
    }

    .give-up-button {
        margin: 10px 0;
    }
}
