/* profile.css */

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: var(--card-background-color);
    border-radius: 10px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-header {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--text-color);
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stats-section {
    margin: 20px 0;
    text-align: left;
    width: 100%;
    max-width: 600px;
}

.stats-section h2 {
    font-size: 24px;
    color: var(--text-color);
    margin-bottom: 10px;
}

.stats-table {
    width: 100%;
    border-collapse: collapse;
}

.stats-table th, .stats-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid var(--link-color);
    color: var(--text-color);
}

.profile-actions {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-actions button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--link-color);
    color: black;
    border: none;
    border-radius: 5px;
}

.profile-actions button:hover {
    background-color: var(--link-hover-color);
}
