
.blurred {
	opacity: 0.5;
	filter: blur(5px);
	pointer-events: none;
	/* Prevent interaction with blurred content */
}

.title {
	margin: 0;
}

.btn {
	padding: 8px 15px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.btn:hover {
	background-color: #0056b3;
}

