/* General styles for both PvP and AI modes */
.pongGame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.start-screen h2, .popup h2 {
    margin-bottom: 20px;
}

input[type="text"],
input[type="color"],
label {
    margin: 5px 0;
    padding: 10px;
    font-size: 16px;
}

input[type="color"] {
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #fff;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

button:focus, input:focus {
    outline: 2px solid #000;
    outline-offset: 4px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: none;
    z-index: 20;
}

#gameContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    position: relative;
    top: 20px;
}

.ball-speed-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.ball-speed-control label {
    margin-bottom: 5px;
}

.ball-speed-control div {
    display: flex;
    align-items: center;
}

.ball-speed-control input[type="range"] {
    margin: 0 10px;
    width: 150px;
}

.give-up-button {
    cursor: pointer;
    padding: 10px 20px;
    display: none; /* Initially hidden */
}

#leftGiveUp {
    margin-left: 20px;
}

#rightGiveUp {
    margin-right: 20px;
}

/* Specific styles for disabled inputs 
input[disabled] {
    background-color: #e9ecef;
    cursor: not-allowed;
}
*/